<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/comprar-alquilar.css">
  <script src="https://kit.fontawesome.com/a4c24707d1.js" crossorigin="anonymous"></script>
  <title>KEY TO DREAM</title>
</head>
<body>
  <header>
    <a href="/"><img class="header-logo-top-icon" src="/images/favicon.png"></a>
    <h2 class="header-logo-top-name">KEY TO DREAM</h2>
    <div class="left-header">
      <i class="fa-solid fa-bars"></i>
      <h3><a href="/">INICIO</a></h3>
      <h3 class="alquilar-h3"><a href="/alquilar" style="text-decoration: none; color: inherit;">ALQUILAR</a></h3>
      <h3 class="comprar-h3"><a href="/comprar" style="text-decoration: none; color: inherit;">COMPRAR</a></h3>
      <h3 class="masfiltros-button"><span class="filtros-button-hidden">MÁS FILTROS</span><i class="fa-solid fa-angle-down"></i></h3>
      <a href="/?map=open" class="vermapa-button">VER MAPA</a>

      <div class="masfiltros-open">
        <div class="first-column">
          <p>ALQUILER</p>
          <p>VENTA</p>
          <p>EMPRENDIMIENTO</p>
        </div>
        <span></span>
        <div class="second-column">
          <p>BAÑOS</p>
          <span>1+</span>
          <span>2+</span>
          <span>3+</span>
          <span>4+</span>
          <span>5+</span>
          <span>6+</span>
        </div>
        <span></span>
        <div class="third-column">
          <p>DORMITORIOS</p>
          <span>1+</span>
          <span>2+</span>
          <span>3+</span>
          <span>4+</span>
          <span>5+</span>
          <span>6+</span>
        </div>
        <span></span>
        <div class="fourth-column">
          <div>
            <p><i class="fa-solid fa-square-check"></i> COCINA</p>
            <p><i class="fa-solid fa-square-check"></i> BALCÓN</p>
            <p><i class="fa-solid fa-square-check"></i> LAVADERO</p>
            <p><i class="fa-solid fa-square-check"></i> L.COMEDOR</p>
          </div>
          <div>
            <p><i class="fa-solid fa-square-check"></i> PISCINA</p>
            <p><i class="fa-solid fa-square-check"></i> PARRILLA</p>
            <p><i class="fa-solid fa-square-check"></i> VIGILANCIA</p>
            <p><i class="fa-solid fa-square-check"></i> ASCENSOR</p>
          </div>
        </div>
        <span></span>
        <div class="fifth-column">
          <p><i class="fa-solid fa-square-check"></i> CUBIERTA</p>
          <p><i class="fa-regular fa-square-check"></i> TOTAL</p>
          <div class="fifth-column-m2">
            <p>M2</p>
            <p>DESDE</p>
            <p>HASTA</p>
          </div>
          <div class="fifth-column-old">
            <p><i class="fa-solid fa-square-check"></i> MÁS RECIENTE</p>
            <p><i class="fa-regular fa-square-check"></i> MÁS ANTIGUO</p>
          </div>
          <div class="fifth-column-price">
            <p><i class="fa-regular fa-square-check"></i> MÁS ECONOMICO</p>
            <p><i class="fa-solid fa-square-check"></i> MÁS COSTOSO</p>
          </div>
        </div>
      </div>

    </div>
    <div class="right-header">
      <h3>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" placeholder="Ciudad" class="header-buscar header-buscar-alquilarComprar"></input>
      </h3>
      <h3>
        <i class="fa-solid fa-location-dot"></i>
        <input type="text" placeholder="Usá tu dirección y encontrá rapidamente" class="header-ubicacion"></input>
      </h3>
      <h3 class="header-user-father-box">
        <i class="fa-solid fa-user"></i>
        <div class="header-user">
          <p>ALEX LUCERO</p>
          <p>alexandro71000@gmail.com</p>
          <span class="span-rule"></span> <!--linea entre-->
          <i class="mismensajes-button fa-regular fa-message"><span class="span-i">MIS MENSAJES</span></i>
          <i class="alertas-button fa-regular fa-bell"><span class="span-i">ALERTAS</span></i>
          <i class="historial-button fa-regular fa-eye"><span class="span-i">HISTORIAL</span></i>
          <span class="span-rule"></span>
          <i class="micuenta-button fa-regular fa-address-card"><span class="span-i">MI CUENTA</span></i>
          <a class="publicar-button" href="/post1">PUBLICAR</a>
          <i class="ayuda-button fa-solid fa-user-tie"><span class="span-i">NECESITO AYUDA</span></i>
          <i id="logoutButton" class="fa-solid fa-power-off"><span class="span-i">CERRAR SESIÓN</span></i>
        </div>

        <div class="mismensajes-click">
          <p>ATRÁS<span>MIS MENSAJES</span></p>
          <div class="mensajes-scrollbox">
            <div>
              <img class="img-mensajes" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>VER CHAT</p>
              </div>
              <p class="fecha-mensajes">5/12/24</p>
            </div>
            <div>
              <img class="img-mensajes" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>VER CHAT</p>
              </div>
              <p class="fecha-mensajes">5/12/24</p>
            </div>
            <div>
              <img class="img-mensajes" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>VER CHAT</p>
              </div>
              <p class="fecha-mensajes">5/12/24</p>
            </div>
            <div>
              <img class="img-mensajes" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>VER CHAT</p>
              </div>
              <p class="fecha-mensajes">5/12/24</p>
            </div>
            <div>
              <img class="img-mensajes" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>VER CHAT</p>
              </div>
              <p class="fecha-mensajes">5/12/24</p>
            </div>
            <div>
              <img class="img-mensajes" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>VER CHAT</p>
              </div>
              <p class="fecha-mensajes">5/12/24</p>
            </div>
          </div>
        </div>

        <div class="alertas-click">
          <p>ATRÁS<span>ALERTAS</span></p>
          <div class="alertas-scrollbox">
            <div>
              <img class="img-alertas" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>SAN MIGUEL, BUENOS AIRES</p>
              </div>
              <p class="fecha-alertas">5/12/24</p>
            </div>
            <div>
              <img class="img-alertas" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>SAN MIGUEL, BUENOS AIRES</p>
              </div>
              <p class="fecha-alertas">5/12/24</p>
            </div>
            <div>
              <img class="img-alertas" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>SAN MIGUEL, BUENOS AIRES</p>
              </div>
              <p class="fecha-alertas">5/12/24</p>
            </div>
            <div>
              <img class="img-alertas" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>SAN MIGUEL, BUENOS AIRES</p>
              </div>
              <p class="fecha-alertas">5/12/24</p>
            </div>
            <div>
              <img class="img-alertas" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>SAN MIGUEL, BUENOS AIRES</p>
              </div>
              <p class="fecha-alertas">5/12/24</p>
            </div>
            <div>
              <img class="img-alertas" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>SAN MIGUEL, BUENOS AIRES</p>
              </div>
              <p class="fecha-alertas">5/12/24</p>
            </div>
          </div>
        </div>

        <div class="historial-click">
          <p>ATRÁS<span>HISTORIAL</span></p>
          <div class="historial-scrollbox">
            <div>
              <img class="img-historial" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>SAN MIGUEL, BUENOS AIRES</p>
              </div>
              <p class="fecha-historial">5/12/24</p>
            </div>
            <div>
              <img class="img-historial" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>SAN MIGUEL, BUENOS AIRES</p>
              </div>
              <p class="fecha-historial">5/12/24</p>
            </div>
            <div>
              <img class="img-historial" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>SAN MIGUEL, BUENOS AIRES</p>
              </div>
              <p class="fecha-historial">5/12/24</p>
            </div>
            <div>
              <img class="img-historial" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>SAN MIGUEL, BUENOS AIRES</p>
              </div>
              <p class="fecha-historial">5/12/24</p>
            </div>
            <div>
              <img class="img-historial" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>SAN MIGUEL, BUENOS AIRES</p>
              </div>
              <p class="fecha-historial">5/12/24</p>
            </div>
            <div>
              <img class="img-historial" src="/images/compraOptimizada.jpg">
              <div>
                <p>MARTIN ALZAGA 2190</p>
                <p>VENTA $32000</p>
                <p>SAN MIGUEL, BUENOS AIRES</p>
              </div>
              <p class="fecha-historial">5/12/24</p>
            </div>
          </div>
        </div>

        <div class="micuenta-click">
          <p>ATRÁS<span>MI CUENTA</span></p>
          <p>PERSONALES</p>
          <div>
            <input placeholder="Nombre"></input>
            <input placeholder="Apellido"></input>
            <input placeholder="DNI"></input>
          </div>
          <p>CONTACTO</p>
          <p>Datos para que podamos enviarte información, ofertas y si publicaste un aviso, para que te contacten.</p>
          <p>alexandro71000@gmail.com</p>
          <div>
            <div>
              <p>TELEFONO</p>
              <input placeholder="+5444551234"></input>
            </div>
            <div>
              <p>CELULAR</p>
              <input placeholder="+541141705252"></input>
            </div>
          </div>
        </div>

        <div class="ayuda-click">
          <p>ATRÁS<span>NECESITO AYUDA</span></p>
          <p>CONTÁCTANOS</p>
          <p>11445566789</p>
          <p>44556789</p>
          <p>keytodream@gmail.com</p>
          <p>Envíanos un mensaje para que podamos contactarte.</p>
          <p>ATENDEMOS DE LUNES A VIERNES ENTRE LAS 08:00 Y 17:00.</p>
          <p>CHAT CON SOPORTE AQUI</p>
        </div>

        <div id="logoutPopup" class="ventana-logout">
          <div class="mensaje-logout-progress">
            <img src="/images/favicon.png">
            <p>KEY TO DREAM</p>
          </div>
          <p>Cerrando sesión...</p>
          <div class="progress-bar">
            <div class="progress"></div>
          </div>
        </div>

      </h3>
      <h3><a href="/favoritos"><i class="fa-solid fa-heart"></i></a></h3>
      
    </div>
  </header>

  <main>
    <article class="article-box">
      <a href="/articulo" style="display: flex">
        <div>
          <img class="img-imagendecompra" src="/images/compra.png">
        </div>
        <div class="left-article">
          <p>$40000 - VENTA</p>
          <h2>MARTIN ALZAGA 2190</h2>
          <p>MAR DE LAS PAMPAS, BUENOS AIRES, COSTA ATLÁNTICA</p>
          <p>1350 M² TOTALES 7 AMBIENTES 5 DORMITORIOS 3 BAÑOS 2 COCHES</p>
          <p>AURORA GRUPO INMOBILIARIO</p>
          <div class="left-down-article">
            <i class="fa-solid fa-camera"></i><p>16</p>
            <i class="fa-solid fa-video"></i><p>30s</p>
            <i class="fa-solid fa-compass-drafting"></i>
          </div>
        </div>
      </a>
      <div class="right-article">
        <i class="fa-solid fa-phone"></i>
        <i class="fa-solid fa-envelope"></i>
        <i class="fa-solid fa-heart"></i>
      </div>
    </article>
    <article class="article-box">
      <a href="/articulo" style="display: flex">
        <div>
          <img class="img-imagendecompra" src="/images/compra.png">
        </div>
        <div class="left-article">
          <p>$40000 - VENTA</p>
          <h2>MARTIN ALZAGA 2190</h2>
          <p>MAR DE LAS PAMPAS, BUENOS AIRES, COSTA ATLÁNTICA</p>
          <p>1350 M² TOTALES 7 AMBIENTES 5 DORMITORIOS 3 BAÑOS 2 COCHES</p>
          <p>AURORA GRUPO INMOBILIARIO</p>
          <div class="left-down-article">
            <i class="fa-solid fa-camera"></i><p>16</p>
            <i class="fa-solid fa-video"></i><p>30s</p>
            <i class="fa-solid fa-compass-drafting"></i>
          </div>
        </div>
      </a>
      <div class="right-article">
        <i class="fa-solid fa-phone"></i>
        <i class="fa-solid fa-envelope"></i>
        <i class="fa-solid fa-heart"></i>
      </div>
    </article>
    <article class="article-box">
      <a href="/articulo" style="display: flex">
        <div>
          <img class="img-imagendecompra" src="/images/compra.png">
        </div>
        <div class="left-article">
          <p>$40000 - VENTA</p>
          <h2>MARTIN ALZAGA 2190</h2>
          <p>MAR DE LAS PAMPAS, BUENOS AIRES, COSTA ATLÁNTICA</p>
          <p>1350 M² TOTALES 7 AMBIENTES 5 DORMITORIOS 3 BAÑOS 2 COCHES</p>
          <p>AURORA GRUPO INMOBILIARIO</p>
          <div class="left-down-article">
            <i class="fa-solid fa-camera"></i><p>16</p>
            <i class="fa-solid fa-video"></i><p>30s</p>
            <i class="fa-solid fa-compass-drafting"></i>
          </div>
        </div>
      </a>
      <div class="right-article">
        <i class="fa-solid fa-phone"></i>
        <i class="fa-solid fa-envelope"></i>
        <i class="fa-solid fa-heart"></i>
      </div>
    </article>
    <article class="article-box">
      <a href="/articulo" style="display: flex">
        <div>
          <img class="img-imagendecompra" src="/images/compra.png">
        </div>
        <div class="left-article">
          <p>$40000 - VENTA</p>
          <h2>MARTIN ALZAGA 2190</h2>
          <p>MAR DE LAS PAMPAS, BUENOS AIRES, COSTA ATLÁNTICA</p>
          <p>1350 M² TOTALES 7 AMBIENTES 5 DORMITORIOS 3 BAÑOS 2 COCHES</p>
          <p>AURORA GRUPO INMOBILIARIO</p>
          <div class="left-down-article">
            <i class="fa-solid fa-camera"></i><p>16</p>
            <i class="fa-solid fa-video"></i><p>30s</p>
            <i class="fa-solid fa-compass-drafting"></i>
          </div>
        </div>
      </a>
      <div class="right-article">
        <i class="fa-solid fa-phone"></i>
        <i class="fa-solid fa-envelope"></i>
        <i class="fa-solid fa-heart"></i>
      </div>
    </article>
    <article class="article-box">
      <a href="/articulo" style="display: flex">
        <div>
          <img class="img-imagendecompra" src="/images/compra.png">
        </div>
        <div class="left-article">
          <p>$40000 - VENTA</p>
          <h2>MARTIN ALZAGA 2190</h2>
          <p>MAR DE LAS PAMPAS, BUENOS AIRES, COSTA ATLÁNTICA</p>
          <p>1350 M² TOTALES 7 AMBIENTES 5 DORMITORIOS 3 BAÑOS 2 COCHES</p>
          <p>AURORA GRUPO INMOBILIARIO</p>
          <div class="left-down-article">
            <i class="fa-solid fa-camera"></i><p>16</p>
            <i class="fa-solid fa-video"></i><p>30s</p>
            <i class="fa-solid fa-compass-drafting"></i>
          </div>
        </div>
      </a>
      <div class="right-article">
        <i class="fa-solid fa-phone"></i>
        <i class="fa-solid fa-envelope"></i>
        <i class="fa-solid fa-heart"></i>
      </div>
    </article>
  </main>
  <script src="/js/clickHeader.js"></script>
</body>
</html>