<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    window.carruseles = <%- JSON.stringify(carruseles) %>;
  </script>
  <link rel="icon" href="/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="https://kit.fontawesome.com/a4c24707d1.js" crossorigin="anonymous"></script>
  
  <title>KEY TO DREAM</title>
</head>
<body class="index-html">
  <header>
    <a href="/"><img class="header-logo-top-icon" src="/images/favicon.png"></a>
    <h2 class="header-logo-top-name">KEY TO DREAM</h2>
    <div class="left-header">
      <i class="fa-solid fa-bars"></i>
      <h3><a href="/">INICIO</a></h3>
      <h3 class="alquilar-h3"><a href="/alquilar" style="text-decoration: none; color: inherit;">ALQUILAR</a></h3>
      <h3 class="comprar-h3"><a href="/comprar" style="text-decoration: none; color: inherit;">COMPRAR</a></h3>
      <h3 class="masfiltros-button masfiltros-button-index">MÁS FILTROS<i class="fa-solid fa-angle-down"></i></h3>
      <% if (!user) { %> <!-- Solo mostrar si no hay usuario logueado -->
        <a class="login-button" href="/login">INICIAR SESIÓN</a>
      <% } %>
    </div>
    <div class="right-header">
      <h3>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" placeholder="Ciudad" class="header-buscar"></input>
      </h3>
      <h3>
        <i class="fa-solid fa-location-dot"></i>
        <input type="text" placeholder="Usá tu dirección y encontrá rapidamente" class="header-ubicacion"></input>
      </h3>
      <%- include('Templates/userHeader') %>
      <h3><a href="/favoritos"><i class="fa-solid fa-heart"></i></a></h3>
    </div>
  </header>
  
  <main class="index-main">
    <img id="carruselRecomendado">
    <img id="carruselEmprendimiento">
    <img src="/images/usaelmapa.jpg">

    <div class="recomendado-text">
      <p>RECOMENDADO</p>
      <div>
        <p id="city"></p>
        <p id="adress"></p>
        <p id="price"></p>
      </div>
    </div>
    <div class="emprendimiento-text">
      <p>EMPRENDIMIENTO</p>
      <div>
        <p id="city2"></p>
        <p id="adress2"></p>
        <p id="price2"></p>
      </div>
    </div>
    <div class="mapa-text">
       <p>USÁ EL MAPA</p>
       <p>EXPLORÁ LAS PROPIEDADES EN ARGENTINA</p>
    </div>

    <!--botones a los costados para cambiar de imagen-->
    <button class="left-button-recomendado"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="right-button-recomendado"><i class="fa-solid fa-chevron-right"></i></button>
    <button class="left-button-mobile"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="right-button-mobile"><i class="fa-solid fa-chevron-right"></i></button>
    <button class="left-button-mobile2"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="right-button-mobile2"><i class="fa-solid fa-chevron-right"></i></button>

    <!--botones del mapa-->
    <i class="fa-solid fa-magnifying-glass lupa-mapa-hover lupa-mapa-hover-delete"></i>
    
    <div class="interfaz-buscar-mapa">
      <p>Casa<i class="fa-solid fa-angle-down"></i></p>
      <p>Ciudad</p>
      <i class="fa-solid fa-magnifying-glass lupa-mapa-hover lupa-mapa-hover-nav"></i>
    </div>

    <a href="/alquilar" class="interfaz-verlistado-mapa">VER LISTADO</a>

    <div class="interfaz-draw-mapa">
      <p>DIBUJAR<i class="fa-regular fa-circle"></i></p>
      <a href="/alquilar">BUSCAR EN ESTA ZONA</a>
    </div>

    <div class="interfaz-zoom-mapa">
      <i class="fa-solid fa-plus"></i>
      <i class="fa-solid fa-minus"></i>
    </div>

    <script>//js detecta map=open en la url entonces abre el mapa
      if (window.location.search.includes('map=open')) {
          document.querySelector('.index-main > img:nth-child(3)').classList.add('expandida');
      }
    </script>
  </main>

  <footer>
    <a href="/terms">TÉRMINOS Y CONDICIONES</a>
    <a href="/terms">POLÍTICAS DE COOKIES</a>
    <a href="/terms">POLÍTICAS DE PRIVACIDAD</a>
  </footer>

  <!-- Ventana emergente al publicar -->
  <div id="successPopup" class="popup hidden">
    <div class="popup-content">
      <div>
        <p>KEY TO DREAM</p>
      </div>
      <p>¡Publicado correctamente!</p>
      <button id="closePopup">Cerrar</button>
    </div>
  </div>
  <script src="/js/z-index.js"></script>
  <script src="/js/clickHeader.js"></script>
  <script src="/js/posting-index.js"></script>
  <script src="/js/carruselClick.js"></script>
  <script src="/js/carrusel.js"></script>
  <script src="/js/menuBurger.js"></script>
</body>
</html>