<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="icon" href="/images/favicon.png" type="image/png">
  <script src="https://kit.fontawesome.com/a4c24707d1.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <header>
    <a href="/"><img class="header-logo-top-icon" src="/images/favicon.png"></a>
    <h2 class="header-logo-top-name">KEY TO DREAM</h2>
    <div class="left-header">
      <i class="fa-solid fa-bars"></i>
      <h3><a href="/">INICIO</a></h3>
      <h3 class="alquilar-h3"><a href="/alquilar" style="text-decoration: none; color: inherit;">ALQUILAR</a></h3>
      <h3 class="comprar-h3"><a href="/comprar" style="text-decoration: none; color: inherit;">COMPRAR</a></h3>
      <h3 class="masfiltros-button masfiltros-button-index">MÁS FILTROS<i class="fa-solid fa-angle-down"></i></h3>

    </div>
    <div class="right-header">
      <h3>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" placeholder="Ciudad" class="header-buscar"></input>
      </h3>
      <h3>
        <i class="fa-solid fa-location-dot"></i>
        <p class="header-ubicacion">Usá tu dirección y enconTrá rapidamente</p>
      </h3>
      <%- include('Templates/userHeader') %>
      <h3><a href="/favoritos"><i class="fa-solid fa-heart"></i></a></h3>
      
    </div>
  </header>

  <main class="post-4-box">
    <div class="post-4-progress-box">
      <p>1</p>
      <span></span>
      <p>2</p>
      <span></span>
      <p>3</p>
      <span></span>
      <p>4</p>
    </div>
    <div class="post-4-progress-word-box">
      <p>PRINCIPAL</p>
      <p>MULTIMEDIA</p>
      <p>EXTRAS</p>
      <p>PUBLICAR</p>
    </div>

    <div class="post-4-first">
      <p>INFORMACIÓN FINAL</p>
    </div>

    <form action="/publish-property" method="POST" id="publishForm">
      <div class="post-4-second">
        <div>
          <label for="price">PRECIO EN DOLARES</label>
          <p>$</p>
          <input type="number" name="price" id="price" placeholder="..." required>
        </div>
        <div>
          <p>AGREGÁ UNA DESCRIPCIÓN (NO MÁS DE 5 RENGLONES)</p>
          <textarea name="description" id="description" rows="5" maxlength="500" placeholder="Escribe una breve descripción..." required></textarea>
        </div>
        <button id="postingButton" type="submit">PUBLICAR</button>
      </div>
    </form>

    <div id="postingPopup" class="ventana-posting" style="display: none;">
      <div class="mensaje-posting-progress">
        <img src="/images/favicon.png">
        <p>KEY TO DREAM</p>
      </div>
      <p>Publicando...</p>
      <div class="posting-progress-bar">
        <div class="posting-progress"></div>
      </div>
    </div>
    <!-- Boton que aparece al no haber completado todos los inputs requeridos -->
    <div id="error-popup" style="display: none; position: fixed; top: 40%; left: 50%; transform: translate(-50%, -20%); background-color: white; padding: 20px; border-radius: 10px; box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);">
      <p id="error-message" style="margin: 0; color: black; text-align: center; margin-bottom: 20px; font-weight: bold;"></p>
      <button id="close-popup" style="margin-top: 10px; display: block; margin-left: auto; margin-right: auto; padding: 5px 10px; background-color:crimson; color: #fff; border: none; border-radius: 5px; cursor: pointer;">
        Cerrar
      </button>
    </div>
    <script>
      // Obtener los parámetros de la URL
      const urlParams = new URLSearchParams(window.location.search);
      const errorMessage = urlParams.get('error'); // Extraer el parámetro "error"
      // Si hay un mensaje de error, mostrarlo en la ventana emergente
      if (errorMessage) {
        const errorPopup = document.getElementById('error-popup');
        const errorText = document.getElementById('error-message');
        // Mostrar el mensaje
        errorText.textContent = errorMessage;
        errorPopup.style.display = 'block';
        // Agregar un evento para cerrar la ventana emergente
        const closeButton = document.getElementById('close-popup');
        closeButton.addEventListener('click', () => {
          errorPopup.style.display = 'none';
        });
      }
    </script>
  </main>
  
  <script src="/js/clickHeader.js"></script>
  <script src="/js/posting.js"></script>
  <script src="/js/menuBurger.js"></script>
</body>
</html>