<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/a4c24707d1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/login-register.css">
  <link rel="icon" href="/images/favicon.jpg" type="image/jpg">
  <title>KEY TO DREAM</title>
</head>
<body>
  <main class="login-box">
    <h2>KEY TO DREAM</h2>
    <a href="/" style="color: inherit; text-decoration: none;">
      <div class="back-box">
        <i class="fa-solid fa-arrow-left"></i>
        <p>ATRÁS</p><span style="margin-left: auto; color: crimson; font-weight: bold;">NO USAR DATOS REALES</span>
      </div>
    </a>
    <p>INGRESÁ A TU CUENTA Y ACCEDÉ A TU HISTORIAL DE CONTACTOS, TUS FAVORITOS, ETC.</p>
    <form id="loginForm" action="/auth/process-login" method="POST">
      <p class="ingresaTuEmail">INGRESÁ TU EMAIL</p>
      <input type="email" name="email" placeholder="example@gmail.com" required></input>
      <p class="ingresaTuContra">INGRESÁ TU CONTRASEÑA</p>
      <input type="password" name="password" placeholder="12345678" required></input>
      <button class="ingresarButton" type="submit">INGRESAR</button>
    </form>  
    <script>
      const loginForm = document.getElementById('loginForm');
    
      loginForm.addEventListener('submit', async (e) => {
        e.preventDefault(); // Evitar recargar la página
    
        const formData = new FormData(loginForm);
        const data = Object.fromEntries(formData.entries());
    
        try {
          const response = await fetch(loginForm.action, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
          });
    
          const result = await response.json();
    
          if (result.success) {
            // Redirigir a la página principal si el login es exitoso
            window.location.href = result.redirectTo;
          } else {
            // Mostrar un alert si el login falla
            alert(result.message);
          }
        } catch (error) {
          console.error('Error:', error);
          alert('Ocurrió un error inesperado. Por favor, inténtelo de nuevo.');
        }
      });
    </script>
    <p class="ingresarCon">TAMBIÉN PODÉS INGRESAR CON</p>
    <div class="login-shortcuts-box">
      <i class="fa-brands fa-google"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-apple"></i>
    </div>
    <p class="noTenesCuenta">¿NO TENÉS UNA CUENTA?</p>
    <div class="login-register-here-box">
      <a href="/register">REGISTRATE ACÁ</a>
    </div>
  </main>
</body>
</html>