<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="icon" href="/images/favicon.jpg" type="image/png">
  <link rel="stylesheet" href="/styles/header.css">
  <script src="https://kit.fontawesome.com/a4c24707d1.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <header>
    <a href="/"><img class="header-logo-top-icon" src="/images/favicon.jpg"></a>
    <h2 class="header-logo-top-name">KEY TO DREAM</h2>
    <div class="left-header">
      <i class="fa-solid fa-bars"></i>
      <h3><a href="/">INICIO</a></h3>
      <h3 class="alquilar-h3"><a href="/alquilar" style="text-decoration: none; color: inherit;">ALQUILAR</a></h3>
      <h3 class="comprar-h3"><a href="/comprar" style="text-decoration: none; color: inherit;">COMPRAR</a></h3>
      <h3 class="masfiltros-button masfiltros-button-index">MÁS FILTROS<i class="fa-solid fa-angle-down"></i></h3>

    </div>
    <div class="right-header">
      <h3>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" placeholder="Ciudad" class="header-buscar"></input>
      </h3>
      <h3>
        <i class="fa-solid fa-location-dot"></i>
        <p class="header-ubicacion">Usá tu dirección y enconTrá rapidamente</p>
      </h3>
      <%- include('Templates/userHeader') %>
      <h3><a href="/favoritos"><i class="fa-solid fa-heart"></i></a></h3>
      
    </div>
  </header>

  <main class="post-3-box">
    <div class="post-3-progress-box">
      <p>1</p>
      <span></span>
      <p>2</p>
      <span></span>
      <p>3</p>
      <span></span>
      <p>4</p>
    </div>
    <div class="post-3-progress-word-box">
      <p>PRINCIPAL</p>
      <p>MULTIMEDIA</p>
      <p>EXTRAS</p>
      <p>PUBLICAR</p>
    </div>
    <form action="/save-property-step3" method="POST">
      <div class="post-3-first">
        <button type="submit">CONTINUAR</button>
        <p class="formasContactarme">FORMAS DE CONTACTARME</p>
      </div>
  
      <div class="post-3-second">
        <p>COMPLETAR AL MENOS UN CAMPO (TELÉFONO O CELULAR)</p>
  
        <div>
          <!-- Tipo de contacto -->
          <div class="contactType-box">
            <label for="contactType">TIPO DE CONTACTO:</label>
            <select name="contactType" id="contactType">
              <option value="inmobiliaria">INMOBILIARIA</option>
              <option value="directOwner">DUEÑO DIRECTO</option>
            </select>
          </div>
          
          <!-- Email profesional o de contacto -->
          <input type="email" name="email" id="email" placeholder="Email Profesional o de Contacto:" required>
  
          <!-- Nombre completo o inmobiliaria -->
          <input type="text" name="fullName" id="fullName" placeholder="Nombre Completo o Inmobiliaria:" required>
  
          <!-- Teléfono de contacto -->
          <input type="tel" name="phone" id="phone" placeholder="Teléfono de Contacto:">
  
          <!-- Celular de contacto -->
          <input type="tel" name="cell" id="cell" placeholder="Celular de Contacto:">
        </div>
      </div>
    </form>
    </div>
    
  </main>
  <script src="/js/clickHeader.js"></script>
  <script src="/js/menuBurger.js"></script>
</body>
</html>