
/* 1280 */

/* Main */
.article-box{
  display: flex;
  background-color: rgb(233, 233, 233);
  height: 200px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  z-index: 10;
}
.article-box:hover{
  background-color: gainsboro;
}
.img-imagendecompra{
  width: 25vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: hue-rotate(50deg);
}
.img-imagendealquiler{
  width: 25vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.img-imagendefavoritos{
  width: 25vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: hue-rotate(300deg);
}
.left-article{
  margin: 10px 0px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-article>p:first-child{
  font-size:x-large;
  height: 10vh;
}
.left-article>h2{
  font-size: large;
}
.left-article>p:nth-child(3),.left-article>p:nth-child(4){
  margin: 5px 0;
  font-size:small;
}
.left-article>p:nth-child(5){
  margin: 5px 0;
  font-weight:600;
}
.left-down-article{
  display: flex;
  gap: 10px;
  align-items: center;
}

.right-article{
  width: 17.5%;
  text-align: right;
  margin-left: auto;
}
.right-article>i{
  padding: 7.5px;
  background-color: white;
  font-size:x-large;
  margin: 10px 10px 0 0;
}

@media(max-width: 1010px){
  .left-article{
    margin-right: 10px;
  }
  .right-article{
  display: flex;
  flex-direction: column;
  width: 50px;
  }
}
@media(max-width:800px){
  .img-imagendealquiler, .img-imagendecompra, .img-imagendefavoritos{
    width: 30vw;
  }
}
@media(max-width:675px){
  .left-article>p:first-child{
    font-size: large;
  }
  .left-article>h2{
    font-size: medium;
  }
  .left-article>p:nth-child(5){
    font-size: small;
  }
  .article-box{
    margin-bottom: 10px;
    height: 190px;
  }
  .img-imagendealquiler, .img-imagendecompra, .img-imagendefavoritos{
    width: 35vw;
  }
}
@media(max-width:530px){
  .img-imagendealquiler, .img-imagendecompra, .img-imagendefavoritos{
    width: 40vw;
  }
  .article-box{
    height: 200px;
  }
  .left-article{
    margin-left: 10px;
  }
  .left-article>p:nth-child(3), .left-article>p:nth-child(4), .left-article>p:nth-child(5){
    font-size: 12px;
  }
  .right-article>i{
    font-size: large;
    padding: 5px;
  }
}
@media(max-width:460px){
  .left-article>h2:nth-child(2), .left-article>p:first-child{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .left-article>p:nth-child(3), .left-article>p:nth-child(4){
    font-size: 11px;
    overflow: hidden;
    width: 95%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  .left-article>p:first-child{
    height: 25px;
  }
  .img-imagendealquiler, .img-imagendecompra, .img-imagendefavoritos{
    width: 45vw;
  }
  .left-article{
    width: 38vw;
  }
  .left-article>h2:nth-child(2){
    font-size: 14px;
  }
  .left-article>p:nth-child(5){
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95%;
  }
  .article-box{
    height: 180px;
  }
}
@media(max-width:420px){
  .img-imagendealquiler, .img-imagendecompra, .img-imagendefavoritos{
    width: 40vw;
  }
  .left-article{
    width: 42vw;
  }
}
@media(max-width:390px){
  .left-article{
    width: 41vw;
  }
}
@media(max-width:360px){
  .left-article{
    width: 40vw;
  }
}