@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "montserrat";
}

body{
  margin: 0 30%;
}
input:focus, select:focus {
  outline: none;
}
.register-box{
  margin: 5% 10%;
  overflow: hidden;
}
h2{
  margin: 10px 0;
}
.back-box{
  display: flex;
  gap: 10px;
  margin: 20px 0;
}
.back-box>p{
  font-weight: bold;
  transform: translateY(-1px);
}
.ingresaLosDatosParaCrearTuCuenta{
  margin: 20px 0 10px 0;
  font-weight: bold;
}
.tipoDeUsuario{
  margin: 20px 0 0 0;
}
.select-usuario{
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
}
.email-register-input{
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  margin-top: 10px;
}
.password-register-input{
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  margin-top: 20px;
}
.datos-register{
  margin: 20px 0 0 0;
}
.datos-box-register{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.datos-box-register>input{
  border: none;
  border-bottom: 2px solid black;
  width: 48%;
}
.fiscal-register{
  margin: 10px 0;
}
.fiscal-dni-box-register{
  display: flex;
  justify-content: space-between;
}
.fiscal-dni-box-register>input, .fiscal-dni-box-register>select{
  border: none;
  border-bottom: 2px solid black;
  width: 48%;
}
.telefono-register{
  margin: 10px 0;
}
.telefono-box-register{
  display: flex;
  justify-content: space-between;
}
.telefono-box-register>input{
  border: none;
  border-bottom: 2px solid black;
  width: 48%;
}
.register-button{
  padding: 10px;
  color: white;
  background-color: black;
  margin: 0 50%;
  transform: translateX(-50%);
  border: none;
  margin-top: 20px;
}
.register-button:hover{
  background-color: gray;
}
/* Login page */
.login-box{
  margin: 10%;
  overflow: hidden;

}
.login-box>h2{
  margin-top: 15px;
}
.ingresaTuEmail{
  margin: 30px 0 10px 0;
}
.login-box>form>input{
  color: black;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  width: 100%;
  font-size: medium;
}
.ingresaTuContra{
  margin: 20px 0 10px 0;
}
.ingresarButton{
  border: none;
  color: white;
  background-color: black;
  padding: 10px;
  margin: 20px 50%;
  transform: translateX(-50%);
  width: 90px;
}
.recordarme-button{
  margin: 20px 0 0 0;
}
.ingresarButton:hover{
  color: white;
  background-color: gray;
}
.ingresarCon{
  text-align: center;
  font-weight: bold;
}
.login-shortcuts-box{
  display: flex;
  justify-content: center;
  font-size:xx-large;
  gap: 10%;
  margin: 30px 0;
}
.noTenesCuenta{
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}
.login-register-here-box{
  display: flex;
  justify-content: center;
}
.login-register-here-box>a{
  border-bottom: 2px solid black;
  width: 150px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
}
.login-register-here-box>a:hover{
 border-bottom: 2px solid gray;
 color: gray;
}

/* terms-box */

.terms-box{
  margin: 5% 0;
}
.terms-box-div{
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.terms-box-div>p:last-child{
  border-top: 2px solid gainsboro;
  padding: 15px 0;
  margin-top: 10px;
}
.terms-box-div>p{
  text-align: justify;
}

@media(max-width:1150px){
  body{
    margin: 0 20%;
  }
}
@media(max-width:768px){
  body{
    margin: 0 10%;
  }
}
@media(max-width:550px){
  body{
    margin: 0 5%;
  }
}
@media(max-width:425px){
  body{
    margin: 0;
  }
  .terms-box{
    margin: 0 5%;
  }
}