<div class="masfiltros-open">
  <div class="first-column">
    <p>ALQUILER</p>
    <p>VENTA</p>
    <p>EMPRENDIMIENTO</p>
  </div>
  <span></span>
  <div class="second-column">
    <p>BAÑOS</p>
    <span>1+</span>
    <span>2+</span>
    <span>3+</span>
    <span>4+</span>
    <span>5+</span>
    <span>6+</span>
  </div>
  <span></span>
  <div class="third-column">
    <p>DORMITORIOS</p>
    <span>1+</span>
    <span>2+</span>
    <span>3+</span>
    <span>4+</span>
    <span>5+</span>
    <span>6+</span>
  </div>
  <span></span>
  <div class="fourth-column">
    <div>
      <p><i class="fa-solid fa-square-check"></i> COCINA</p>
      <p><i class="fa-solid fa-square-check"></i> BALCÓN</p>
      <p><i class="fa-solid fa-square-check"></i> LAVADERO</p>
      <p><i class="fa-solid fa-square-check"></i> L.COMEDOR</p>
    </div>
    <div>
      <p><i class="fa-solid fa-square-check"></i> PISCINA</p>
      <p><i class="fa-solid fa-square-check"></i> PARRILLA</p>
      <p><i class="fa-solid fa-square-check"></i> VIGILANCIA</p>
      <p><i class="fa-solid fa-square-check"></i> ASCENSOR</p>
    </div>
  </div>
  <span></span>
  <div class="fifth-column">
    <p><i class="fa-solid fa-square-check"></i> CUBIERTA</p>
    <p><i class="fa-regular fa-square-check"></i> TOTAL</p>
    <div class="fifth-column-m2">
      <p>M2</p>
      <p>DESDE</p>
      <p>HASTA</p>
    </div>
    <div class="fifth-column-old">
      <p><i class="fa-solid fa-square-check"></i> MÁS RECIENTE</p>
      <p><i class="fa-regular fa-square-check"></i> MÁS ANTIGUO</p>
    </div>
    <div class="fifth-column-price">
      <p><i class="fa-regular fa-square-check"></i> MÁS ECONOMICO</p>
      <p><i class="fa-solid fa-square-check"></i> MÁS COSTOSO</p>
    </div>
  </div>
</div>